[2015-01-19 18:22] fenhl opened #3 "Project goals"
Before we do any actual coding, we should define the project goals. Here are some of my ideas, in decreasing priority:

1.  The most important goal should imo be feature parity with the “Notchian” vanilla Minecraft server, specifically the latest stable release of the standalone `minecraft_server.jar`. That is, anything which is considered a feature (as opposed to a bug or implementation detail) o

[2015-01-19 19:10] toqueteos commented on #3
It would be a good thing to share as much as possible with hematite itself. This would lead to cleaner code and also a better approach for a possible modding API (server-side modding should be possible without much hassle, some sort of _"Bukkit-like" API_).
- Common crate (lib, both client and server functionality)
- Client crate (lib, client specific API)
- Server crate (lib, server specific API)

[2015-01-19 19:21] fenhl commented on #3
Is there enough server-specific code to warrant the Common/Server split? The way the project is set up right now, the server lib would be a dependency of the client, which needs most of the server code anyway for singleplayer.

[2015-01-19 19:32] toqueteos commented on #3
@fenhl Well.. it depends. Modding is the key here. Server has some events, client has others. Mods could even add custom events to both. Will hematite support mods?

[2015-01-20 00:06] fenhl commented on #3
@toqueteos whatever mods you can apply to the standalone server should also be applicable to the embedded server used in singleplayer, no?

[2015-01-20 05:26] indiv0 commented on #3
@fenhl perhaps, but that precludes the use of client-specific mods (e.g. GUI modifications).

[2015-01-20 05:29] fenhl commented on #3
@indiv0 How so?

[2015-01-20 05:31] indiv0 commented on #3
@fenhl well from your phrasing I gathered that if mods are built against the server API, wouldn't that mean that there is no client API (and hence no client mods)?

[2015-01-20 05:35] fenhl commented on #3
@indiv0 no, I'm not ruling out a separate client mod API. (However, given the potential complexity I'm not sure if any modding API should be a project goal.)

[2015-01-20 14:48] toqueteos commented on #3
Brief intro to MC modding.
- Bukkit does ~~did?~~ work only on the server so it was FULLY compatible with vanilla clients.
- Forge does monkey patching on the vanilla client to add client specific mods (which most of the time leads to server mods too), not compatible at all with vanilla clients.

So, there's **THREE** approaches:
1. The _Vanilla_ approach. Easiest one. Replicate minecraft_server.j

[2015-01-22 06:34] fenhl commented on #3
I suggest an approach between _Bukkit_ and _Forge_: the protocol allows the client to register a [plugin channel](http://wiki.vg/Plugin_channel) which we could use for a modding infrastructure which has both backwards-compatibility with vanilla and support for client mods. In short:
1.  Hematite client sends the server a `REGISTER Hematite` plugin message.
2.  If the server doesn't respond, it is

[2015-01-25 19:42] toqueteos commented on #3
No one complained about @fenhl 's proposal so it seems everyone is happy with it.

[2015-01-28 06:45] fenhl commented on #3
Okay, so here is a list of goals updated for the discussion above:
1.  Feature parity with Notchian.
2.  Separating custom features from vanilla behavior by requiring explicit activation in a `hematite.json` config file.
3.  A library crate which can be used by the Hematite client for the local singleplayer server. This should have most of the codebase.
4.  A branch which tracks the latest snapsho

[2015-01-28 11:32] bvssvni commented on #3
Cargo supports features that can be activated through the command line. For example:

[code]

Perhaps a helper tool to generate a Cargo.toml?

[2015-01-28 13:44] toqueteos commented on #3
1. 100% ok with it. I, almost, have finished implementing MC protocol.
2. Would like to know which custom features, but ok.
3. Not just one library crate, there's packets for client, for server and for both.
4. -
5. Must do. Just watch numbers on https://lab.xpaw.me/snoop.html
6. Not entirely sure why we could want this... This should be an external crate. If there's events throwing which users ca

[2015-01-29 00:59] fenhl commented on #3
-   re 1: If you're already coding, why not push to the project?
-   re 2 and 9: For example multi-world support, chunk caching, or custom features provided by a mod.
-   re 3: Yes but all packets are used by both sides. It makes little sense to implement each packet twice, especially considering that the entire serialization and deserialization steps can be skipped for singleplayer.
-   re 6: The

[2015-01-29 12:52] toqueteos commented on #3
- re 1: @eddyb is reviewing what i do, also guiding me to _the rust way_ of doing things. Yesterday packets were hand-written, heavily commented and over 5k lines of code. After his review packets are now 500 lines tops, declarative style. Still not ready to push.
- re 3: Singleplayer is just a server on listening on localhost, de/serialization is still required.
- re 6: still http library require

[2015-01-29 12:57] eddyb commented on #3
Have you seen [hyper](https://github.com/hyperium/hyper)? It's pretty good IMO, and even Servo switched to it, last month.

[2015-01-29 13:03] fenhl commented on #3
-   re 1: I've read the backlog now. Current state of the code would still be nice to have (doesn't have to be pushed to the project), since there are some things I might want to discuss.
-   re 3: It's not required if both use the same types for packets, and it should actually be a performance gain if memory is shared and serialization overhead is lost. This is similar to how Notchian does it. Fo

[2015-01-29 13:17] toqueteos commented on #3
In about an hour or sooner I'll fork hematite_server and push everything I have there. Can't do it sooner.

[2015-01-29 14:33] toqueteos commented on #3
Not actually a fork because I started this for another project but you get the idea:
https://github.com/toqueteos/hematite_server

[2015-02-17 14:42] toqueteos opened #8 "Login requirements"
Login requires the following packets:

- [x] ClientChangeGameState
- [x] ClientChunkData (manual impl + requires Chunk and ChunkColumn data types) #32
- [x] ClientJoinGame
- [x] ClientKeepAlive
- [x] ClientPlayerAbilities
- [x] ClientPlayerPositionAndLook
- [x] ClientPluginMessage (manual impl) #23
- [x] ClientSpawnPosition
- [x] ClientTimeUpdate
- [x] ClientWindowItems (requires dealing with `Arr

[2015-02-21 12:56] fenhl opened #15 "Update to new io"
Since `std::old_io` is now spewing deprecation warnings, we should update to the new `std::io`. I'd say we should merge #10 and #14 now (regardless of any remaining problems), then switch over to new `io` and worry about cleaning up `types::nbt` when that's done.

[2015-02-21 13:31] toqueteos commented on #15
:+1: I'm ok with this. EDIT: If no PR is sent, I'll try to send one on Sunday.

[2015-02-24 11:47] toqueteos commented on #8
~~We are almost ready for this, currently on hold by #15.~~

[2015-02-24 12:37] toqueteos opened #18 "NBT bugs + No tests"
**EDIT:** I found http://minecraft.gamepedia.com/NBT_format a lot more useful than http://wiki.vg/NBT.

I was doing some manual testing for NBT comparing with NBTExplorer's output and found that compounds are not written correctly.

Example:

[code]

This should return:
[code]

But instead it returns:
[code]

[2015-02-24 12:58] toqueteos opened #19 "redis as an alternative for NBT and LevelDB storage"
We could get rid of a lot of awkwardness and get great cloudservice support mostly for *"free"*.

Not my idea, it's gurun's from #mcdevs @ freenode

[2015-02-24 15:05] fenhl commented on #19
This seems like the sort of thing we should allow mods to implement.

[2015-02-25 14:27] toqueteos commented on #18
Empty lists are quite interesting too.

NBTExplorer:

[code]

nbt.rs:

[code]

[2015-02-26 21:54] toqueteos commented on #18
Fixed by #20. _(forgot to add commit message to auto close...)_

[2015-02-26 21:54] #18 closed

[2015-02-26 23:45] toqueteos commented on #15
- [ ] `MemReader` -> `Cursor<Vec<u8>>` or `Cursor<&[u8]>`. Used only on tests.
- [ ] No endianness support, must use [byteorder](http://burntsushi.net/rustdoc/byteorder/) crate.

[2015-02-27 03:32] fenhl commented on #15
I'm almost done with porting to `byteorder`. Haven't touched the tests yet.

[2015-02-27 23:18] #15 closed

[2015-02-28 12:34] toqueteos commented on #8
Just `ClientChunkData` left, `ClientPluginMessage` proposal is already sent (#23).

[2015-03-01 13:07] toqueteos opened #25 "AttachEntity field names"
[AttachEntity](http://wiki.vg/Protocol#Attach_Entity) packet has led to a heated discussion on IRC (#hematite).

![AttachEntity Protocol Spec](http://i.imgur.com/wXpwgrU.png)

My naming proposal is (order is important, this is packets code):
[code]

**Is it ambiguous for you this way?**
Let the discussion begin...

/cc @bvssvni @eddyb @fenhl @kvark

[2015-03-01 13:15] fenhl commented on #25
[code]

The wording “_what_ is leashed to _to_” is ambiguous, is could be `struct AttachEntity { to: i32, what: i32, leash: bool }` and make just as much sense. Essentially, the English verb “attach” represents a symmetrical relation, but the “riding/leashed” relation indicated by this packet is directional, so we need different naming.

[2015-03-03 00:43] toqueteos opened #26 "Simple Scheduler"
Since packets it's going through big changes I'm trying other things meanwhile.

I would like some opinions on this simple scheduler approach, it's almost working, can't get closure call to work properly, also I had to improvise the `Server` trait.

[code]

[2015-03-03 01:10] toqueteos commented on #26
A queue or priority queue might be a better aproach instead of callbacks.

Timer could sit on main thread and callbacks are ran in a pool of threads (excluding main).
Callbacks or queue have both timing issues. Game servers, yay!

[2015-03-03 04:47] fenhl commented on #26
Here's a different approach:

Each client connection is managed by a thread, which handles packet encoding/decoding (this type of io should be async), and we use timers to push scheduled packets into its input queue. This works well because queues are multi-producer.

Things like time update which are tied to ticks should be produced by the central game loop.

[2015-03-03 04:49] fenhl commented on #25
After the discussion on IRC, can we close this?

[2015-03-03 04:51] kvark commented on #25
@toqueteos sorry pal, I'm not really into hematite networking, at least for now I'm only helping with rendering.

[2015-03-03 11:21] toqueteos commented on #26
I'm all for a 1-client-1-thread approach but will it scale properly with Rust's native threads? Green threads are awesome for this, how's the support for them in Rust?

[2015-03-03 12:25] fenhl commented on #26
Currently? Completely absent, as far as I'm aware. However, we could use native threads for now and switch to green threads when they become usable.

[2015-03-03 12:36] toqueteos opened #27 "Impl Chat type"
It would enable 8 packets:

- `ChatMessage` (0x02)
- `OpenWindow` (0x2d) Custom
- `UpdateSign` (0x33)
- `Disconnect` (0x40)
- `PlayerListHeaderFooter` (0x47)
- `ChatMessage` (0x01)
- `UpdateSign` (0x12)
- `Disconnect` (0x00)

# Encoding

A custom encoder is required because of `extra` field and how `rustc-serialize` encodes `Option<T>` values, it writes `key: null` instead of skipping keypair.

#

[2015-03-03 12:45] toqueteos commented on #25
@kvark Nvm, I mixed cc.

@fenhl Yes, we can. Closing this.

[2015-03-03 12:45] #25 closed

[2015-03-03 13:16] toqueteos commented on #27
I've been tinkering around with https://github.com/toqueteos/hematite_server_ugly and found that vanilla client ~~doesn't use this format at all for client-sent messages~~ uses both old and new chat formatting (`§` and JSON). :expressionless:

[2015-03-03 20:17] toqueteos opened #29 "Impl Protocol Encryption"
Reference: http://wiki.vg/Protocol#Packet_format

[2015-03-03 20:19] toqueteos opened #30 "Impl Player Authentication"
Reference:

- http://wiki.vg/Protocol_Encryption#Authentication
- https://github.com/luqmana/mcchat/blob/master/util.rs

[2015-03-06 15:09] toqueteos commented on #8
All required packets are available, we can start working on this now.

[2015-03-07 11:34] toqueteos commented on #30
Neither `rust-crypto` or `openssl-sys` provide `EVP_aes_128_cfb8` which is required for this to work, it seems we have to follow @luqmana s approach and do it manually or send PR to one of those.

**EDIT:** There's hope https://github.com/DaGenix/rust-crypto/pull/92

There's `AesSafe128Encryptor`, `AesSafe128Decryptor` and `PkcsPadding` which can get us there.

[2015-03-07 12:27] toqueteos commented on #30
I would like to know if everyone is fine with me porting [Go's AES impl](http://golang.org/pkg/crypto/aes/), it's super concise and well explained.

We just need AES_128 support and I've implemented CFB8 succesfully in the past; it was not formally verified but worked perfectly with MC 1.5 back then, encryption hasn't changed so **it should still work**.

I was gonna say that way we don't need the

[2015-03-07 20:30] fenhl commented on #30
Why are there 2 issues with the same title? (This one and #29)

[2015-03-07 23:19] toqueteos commented on #30
My bad, #29 is compression. I just fixed it!

[2015-03-08 16:43] atheriel commented on #27
I've started working on some pieces for this. Should have them up by the end of the day.

[2015-03-09 14:17] ghost commented on #3
Does the project goal include running hematite_server in cluster server?
If not, I am afraid I will do my own project.
because I want a such thing could be support 1000+ players playing, and it is important for we.

and, i18n support?

[2015-03-09 14:30] fenhl commented on #3
I18n is a vanilla feature, so that's a given. And running with 1000+ players falls under performance I believe, we'll see how far we'll get with that.

[2015-03-10 16:15] atheriel opened #41 "`NbtBlob::from_*` returns a byteorder error for Compounds with no end tag."
As reported by mindcat on IRC, this gives a `byteorder::Error` emitted for problems with endian-ness decoding, which is not correct:

[code]

[2015-03-10 16:24] atheriel commented on #41
This is actually caused by a misleading feature of `byteorder`. When calling `read_u8`, the library will return an `UnexpectedEOF` error, the same error emitted when decoding longer types.

To resolve this, we need to check calls to `read_u8`, and add our own `UnexpectedEOF` error.

[2015-03-11 18:02] fenhl opened #44 "Respect server.properties"
Tracking issue for implementation of all [server.properties](http://minecraft.gamepedia.com/Server.properties) fields.

- [ ] `allow-flight`
- [ ] `allow-nether`
- [ ] `announce-player-achievements`
- [ ] `difficulty`
- [ ] `enable-query`
- [ ] `enable-rcon`
- [ ] `enable-command-block`
- [ ] `force-gamemode`
- [ ] `gamemode`
- [ ] `generate-structures`
- [ ] `generator-settings`
- [ ] `hardcore`

[2015-03-12 05:43] mindcat opened #46 "i18n Support"
I mean any output message could be translate another languages. (such as wrapped panic!, wrapped println!)
Maybe we could do it in compile time. Which means check translate files then replace English messages to Chinese(I don't know) in compile time. or cost performance a bit for runtime.
But if runtime, Players could change his output language messages.

[2015-03-12 05:57] ghost commented on #19
What map format we selected? Anvil? I prefer database storage. Because I think they handle these better we what was handles.

(Out topic, MapReduce? I don't know.)

[2015-03-12 07:11] fenhl commented on #19
We will need to support Anvil for vanilla compatibility. Any other storage can be added later, possibly through the mod API.

I don't understand your second comment, sorry.

[2015-03-12 07:19] ghost commented on #19
@fenhl Second comment means distributed things, don't mind :)

[2015-03-12 19:52] atheriel commented on #46
There's a feature of `ChatJson` devoted to doing this for server mechanisms. I'd be great to support it. I believe there are translation files in the Minecraft assets, which would be a good place to start for this.

[2015-03-13 00:14] toqueteos opened #49 "Worlds"
**We need to settle down what is a world for us.**

The other day discussion about this was interesting, but IRC is volatile without logs so... here we go. I won't copy my notes from the IRC so each and every one of you can write your proposal as you like.

Feel free to edit this post as discussion goes forward with a checklist of what things are required.

- [ ] World = Dimension?
- [ ] Inter-wor

[2015-03-13 04:40] fenhl commented on #49
tl;dr:
-   World = Dimension? No, one world can have multiple dimensions.
-   Inter-world communication? No for vanilla, yes for mods.
-   Ticks: synced per world.

My proposal is that we should follow the precedent set by vanilla, which despite not having multiworld support suggests a definition of “world” which can be extended to modded Minecraft: a world is a set of dimensions which tick in syn

[2015-03-13 04:44] fenhl commented on #46
The `ChatJson` translation feature is intended only for clients. Using it in the server would require additional language files.

[2015-03-13 14:16] atheriel commented on #46
Ah, I misunderstood. This would indeed be a lot more work...

[2015-03-13 15:28] mindcat opened #51 "A Task Model"
Now, You can call thread as worker. they have a house, house inside has (CPU cores * 1.5 / 4) rooms, a room has four workers, normally they are sleeping.

At least a worker is never back to house, because he has jobs.
Example, when he can't so much jobs, then he will wake up some workers, work for him.
And that worker was awake also could apply what was he did.

Then if no more jobs, they will sle

[2015-03-13 15:28] #51 closed

[2015-03-14 06:57] ghost commented on #46
Aaaaarrrrrhhhhhhh!! Just give me a week! :S

EDIT: Actually I didn't do the works now.

[2015-03-15 22:49] #41 closed

[2015-03-23 04:56] ghost commented on #46
Well, the compiler plugin are completed. :S

[2015-03-23 09:15] bvssvni commented on #46
@mindcat :+1:

[2015-03-28 20:12] toqueteos opened #67 "[WIP] Lazy NBT approach"
# THIS IS A WORK IN PROGRESS

*Reference branch: https://github.com/toqueteos/hematite_server/tree/chunk-loader*

Hello guys,

Some of you know I've been working on reading world info from region/`.mca` files. It turned out to be **awfully slow** due to our current NBT enc/decoder doing waaay too many allocations.

Initially, I had a program which read all region files inside `.minecraft/saves` bu

[2015-03-30 07:16] fenhl opened #68 "Rename project to hematite-server"
The same name except with a hyphen instead of an underscore.

Pros:

*   Seems to be the more common style for binaries
*   Easy to work with because of recent changes in crate name semantics

Cons:

*   Inconsistent with Notchian `minecraft_server.jar`

[2015-03-30 12:12] toqueteos commented on #68
I like the way it is, I would rename it to `hematite_core` though because most of it is shared for both client and server.
- `extern crate hematite_server` works.
- `extern crate hematite-server` doesn't work, we are forced to `extern crate "hematite-server" as hem`.

If it's all about the binary, just rename the binary name in `Cargo.toml`.

[2015-03-30 12:40] fenhl commented on #68
Looks like you missed the recent changes in crate name semantics. The crate can be named `hematite-server` and `extern crate hematite_server` will still work. The syntax with the quotes no longer exists (or will go away very soon).

[2015-03-30 12:50] toqueteos commented on #68
What I'm saying is that we should stick with just one name for everything, it's the best approach in the long term.

[2015-03-30 12:51] fenhl commented on #68
It would still be one name for everything.

[2015-03-30 13:00] toqueteos commented on #68
:+1: for `hematite_server`

[2015-03-31 17:33] atheriel commented on #67
I think it's generally a good idea to optimize for performance, but I have a few thoughts:
- Does this actually make decoding the whole structure faster, or just getting it into memory? I think those are probably different goals...
- Does this mean we have to wait for the TCP stream to finish before we start decoding? If so, what's the point of the `from_reader` approach?
- Is the idea that the la

[2015-03-31 22:43] toqueteos commented on #67
@atheriel Those are all good points!
- All it does is making value decoding lazy; instead of allocating a `String` and some variable size `T` for every Nbt entry so.. yes, I'd say it does decode the whole structure faster. The initial idea was not to copy data we already have.
- No matter what approach we use need to read it all, do we?. What's wrong with `from_reader`? This works for in-memory st

[2015-03-31 22:53] toqueteos commented on #67
I've updated the **Performance numbers** section using `--release` for both the old and new approach.

[2015-04-02 11:25] fenhl commented on #68
Closing since no one seems to be in favor.

[2015-04-02 11:25] #68 closed

[2015-04-05 11:49] toqueteos opened #75 "Beta channel"
So... there's beta channel now! That's both good and bad for us because some parts of our code rely on features not yet stabilized:

- [ ] `std::iter::AdditiveIterator` -> `core` feature.
- [ ] `extern crate test` -> `test` feature.

**Feel free to modify this list so we can track unstability across the project.**

How are we gonna deal with this?

/cc @atheriel @bvssvni @eddyb @fenhl

[2015-04-05 11:52] fenhl commented on #75
I would suggest creating a branch where we attempt to migrate the codebase to stable Rust.

[2015-04-05 12:12] bvssvni commented on #75
What should we call it? "rust-beta"?

[2015-04-05 12:28] fenhl commented on #75
Maybe `rust-stable`?

[2015-04-05 12:44] toqueteos commented on #75
What would making a branch help us with? It seems there's not that much we can do until core dev team stabilize all of what we need unless we are willing to copy, without #[unstable], a bunch of std's code.

[2015-04-05 12:46] fenhl commented on #75
It would allow us to stabilize code on the stable branch while continuing current development on master.

[2015-04-06 15:59] atheriel commented on #75
I think this might be an easy issue to fix right now just by getting off
the unstable APIs -- we can fix the iterator one by using a fold, and the
test crate is only used for benchmarking (which could be hidden behind a
configuration flag, or even removed for the time being).

Alternatively, a stable branch sounds appropriate to me.

On Sunday, April 5, 2015, Fenhl notifications@github.com wrote:

[2015-04-06 16:01] fenhl commented on #75
The two issues are by far not the only ones, hence my suggestion to work on this on a branch.

[2015-04-07 09:04] fenhl opened #79 "Move hematite-nbt into its own repo"
It's a separate crate so it should be a separate repo. It would also be a further step toward publishing on [crates.io](https://crates.io/).

While we do that, we should rename it to `hematite_nbt` per #68.

[2015-04-07 09:43] toqueteos commented on #79
What's wrong with having it here? We can still publish it to crates just as gl_generator or gfx-rs do with their inner repos, can we?

[2015-04-07 11:03] fenhl commented on #79
It's independent of the server crate. Managing it as such would also make it more discoverable.

[2015-04-12 11:38] fenhl opened #80 "Host docs on docs.piston.rs"
We should host docs for the two library crates on http://docs.piston.rs/ using the [docs](https://github.com/PistonDevelopers/docs) repo. [kmcallister/travis-doc-upload](https://github.com/kmcallister/travis-doc-upload) provides instructions for this.

[2015-04-12 12:02] #80 closed

[2015-04-14 08:00] #27 closed

[2015-04-18 02:31] ghost commented on #46
Sorry, I was playing game for this while :P
getting work for now :D

[2015-06-06 21:40] fenhl opened #85 "Add a CONTRIBUTING file"
This should include our workflow/policy of sending pull requests even if you have direct write access.

[2015-06-06 21:56] bvssvni commented on #85
There is a CONTRIBUTING file in the piston repo https://github.com/PistonDevelopers/piston/blob/master/CONTRIBUTING.md. I added a notice about PRs.

[2015-06-09 08:54] fenhl commented on #85
It might be useful to have a CONTRIBUTING.md here which just links to the central one.

[2015-06-09 09:26] fenhl commented on #79
[Repo created](https://github.com/PistonDevelopers/hematite_nbt), moving content now.

[2015-06-09 09:58] #79 closed

[2015-06-09 10:00] fenhl commented on #75
I have updated .travis.yml to reflect the fact that master is only supposed to build on nightly.

[2015-06-30 11:34] #85 closed

[2015-06-30 11:38] fenhl commented on #67
Move to [`nbt` crate](https://github.com/PistonDevelopers/hematite_nbt) please.

[2015-06-30 11:38] #67 closed

[2015-07-09 12:12] #75 closed

[2015-12-01 05:43] fenhl opened #97 "Add singleplayer support to the protocol"
In order to support singleplayer mode (which is a big step towards getting this integrated into [the client](https://github.com/PistonDevelopers/hematite)), the protocol API needs to be redesigned in such a way that would allow a local client to share the memory representing the data structures used in the protocol, removing encoding/decoding overhead.

I have occasionally been hacking at this in

[2015-12-01 08:57] fenhl opened #98 "Branch protection"
Since github now has [a feature](https://github.com/PistonDevelopers/hematite_server/settings/branches/master) that lets us require status checks (i.e. Travis CI) to be passed before changes can be merged into master, we could use this to ensure a green master branch and to enforce Piston's “pull requests for everything” model.

I have been using this feature for other Rust projects and it's been

[2015-12-01 09:24] toqueteos commented on #98
PRs are one of the pillars of GitHub. While not the best thing out there for code review they are useful enough so I'm voting yes on this. The more checks for greenness, the better.

[2015-12-01 16:11] bvssvni commented on #98
This would be nice.

[2015-12-01 16:15] bvssvni commented on #97
The question is whether the overhead is acceptable or not. If gameplay is fast enough for multi-player, then it might be an idea to just use a server with a single player in single-player mode.

[2015-12-01 16:31] fenhl commented on #98
Branch protection and required status checks now in effect for master.

[2015-12-01 16:31] #98 closed

[2015-12-06 12:24] toqueteos opened #100 "Should we use mio? ... and mioco?"
Most of the Java based servers use http://netty.io/ (async io) should we aim for that right from the beginning via mio/mioco or just plain threads (with pools) and channels?

/cc @fenhl

[2015-12-06 20:24] toqueteos commented on #8
Closing as #40 just got merged.

[2015-12-06 20:24] #8 closed

[2015-12-06 21:20] RichardlL commented on #100
See my comments in: https://github.com/PistonDevelopers/hematite/issues/203 talking about my server design. (I also updated last comment talking about the client)

With an threaded/actor model, async I/O would be pretty much built in

_(Meta/ reasoning)
Map type requests in minecraft are usually pretty small, but the results size and computation costs can be huge. Channels/multi-threaded id ideal

[2015-12-06 22:13] RichardlL commented on #97
I agree with @bvssvni
Most computers have at least two cores these day.
1. The first thread would host the client
2. The other would host the server.

If thread 1 can communicate encode with an remote server, it can communicate with a local one.

If the processor can handle thread 1, it can handle thread two. Running a minecraft server alone with a single remote client is less resource intensive t

[2015-12-06 22:25] RichardlL commented on #26
@toqueteos @fenhl

Most large Servers are hosting on Linux these days, where threads are cheap (also on OSX).

Single player on Windows wouldn't matter, as 1:1 for one person is still 1

Some small servers (such as just a group of friends) would be okay on windows too, as  most computers these days have 4+ cores, even laptops.

Technically unnecessary?

Any thoughts?

[2015-12-06 23:16] RichardlL commented on #49
Here's another world problem :p
You have to ask yourself how compatible you want to be with minecraft.  Vanilla minecraft worlds generation is done by having random 3D array of **Perlin** noise generated for the map, with element of the from -x to x, generated, then is added/subtracted to the height above sea level.

This makes it so the "earth" is _generally_ below the air, yet has mountains  and

[2015-12-06 23:39] bvssvni commented on #49
@RichardlL Intriguing. I almost understood something of it!

[2015-12-06 23:48] RichardlL commented on #49
lmao! Who is This projects leader, anyway?

[2015-12-07 06:07] fenhl commented on #97
1.8.3 was the latest release when we started working on stuff. We should be targeting 1.8.8 now (although there haven't been any significant changes to the protocol).

Note that I am not proposing any modifications to how Hematite implements the protocol itself, the Hematite client would still communicate normally with all servers, including Hematite servers. The only change would be for singlepla

[2015-12-07 06:14] fenhl commented on #100
Note that each world does need a global game loop which ticks synchronously, so game logic would need to run on the master.

[2015-12-07 07:10] fenhl commented on #49
We don't really have one. I started the project but I don't have any administrative powers, other than strong opinions.

[2015-12-07 07:16] fenhl commented on #49
I agree that it will probably be impossible to recreate world generation perfectly, but we should still try to emulate it as closely as possible, to get the worlds to feel similar. That would mean using Perlin noise for the basic terrain, although using a different implementation could be useful for now. If I recall correctly, @amaranth has been playing around with Perlin noise implementations in

[2015-12-07 07:25] fenhl commented on #26
@RichardlL I maintain that we should use one thread per connection, as outlined [above](https://github.com/PistonDevelopers/hematite_server/issues/26#issuecomment-76886689). That would make this unnecessary, right?

[2015-12-07 14:06] RichardlL commented on #26
Oh yes, I was agreeing with you @fenhl

That's what my plan was. I was just saying there is no overhead concern.

[2015-12-07 17:35] RichardlL commented on #49
@fenhl
Have you seen my comment in https://github.com/PistonDevelopers/hematite/issues/203

About throwing out the tick system altogether?

It could still be designed to be the same as vanilla.

The problem with ticks in minecraft is it is basically runs on the same loop that Magen/packet handling does, so it just updates a place randomly, which is the seed for time. This is one of the two ways yo

[2015-12-07 17:56] fenhl commented on #49
Minecraft also has block updates other than random ticks, which need to be synchronized in order for things like redstone to function correctly.

[2015-12-13 20:47] fenhl opened #101 "Crash when reading server.properties"
When `server.properties` is missing, the server seems to start correctly, but when it exists, it panics at an array index.

[code]

[2015-12-13 20:54] toqueteos commented on #101
Good catch!

[2015-12-13 20:54] fenhl commented on #101
Any idea what might cause it?

[2015-12-13 20:59] toqueteos commented on #101
I'm checking [src/proto/properties.rs](https://github.com/PistonDevelopers/hematite_server/blob/master/src/proto/properties.rs) for index ops but I haven't found a clue yet.

[2015-12-13 21:03] toqueteos commented on #101
@fenhl Found it! Apparently `splitn` isn't doing it's thing: http://is.gd/RkWXrx

`splitn("server-port=25565", 1)` returns `["server-port=25565"]` so https://github.com/PistonDevelopers/hematite_server/blob/master/src/proto/properties.rs#L53 fails because there's no `parts[1]`.

[2015-12-13 21:08] fenhl commented on #101
It needs to be changed to `.splitn(2, '=')`. The “n” in splitn is the number of parts, not the number of splits.

[2015-12-13 21:08] toqueteos commented on #101
@fenhl That's right! Do you want to patch it and add a test case for it?

[2015-12-13 21:09] fenhl commented on #101
I can patch it, not sure about the test case though.

[2015-12-13 21:11] toqueteos commented on #101
Nvm, you patch it I add the test.

[2015-12-13 21:20] #101 closed

[2015-12-13 22:22] fenhl opened #105 "Add command-line option to override the server dir"
Like Notchian, we look for stuff like server.properties and the favicon in the current working directory. For several reasons, it would be nice if a different directory could be specified via a command-line option like `--server-dir=<path>`.

[2015-12-18 01:46] RichardlL opened #107 "Performance/ Design: How Maps will be stored in ram and on disk/"
### Right now, current options are

**1. Keep an array of block id/ data, as defined in the new 1.9 data format, 4096 indices per chunk section pointing to a position in the above array**

* Ram usage of 57 megabytes+ 2bytes per unique block including light data for a render distance of 10

**2. Keep just generate the indices when the client wants the chunk, and keep the block ID/data individually

[2015-12-18 01:47] RichardlL commented on #107
@fenhl @toqueteos

[2015-12-18 02:22] RichardlL commented on #26
Why does the update health packet need to be on a loop, why not just send it whenever it changes? @toqueteos

[2015-12-18 21:26] toqueteos commented on #107
_Sorry for the delay!_ :tada:

I can't talk much about first part without digging into the numbers you gave but it seems like **option 1** is the best candidate and the easier to do once 1.9 lands. Right now we are still on 1.8.8 (I'll send a PR to update to 1.8.9 ASAP) so there's plain old chunk format. The new block palettes offer a promising improvement, we'll see how it turns out.

About the s

[2015-12-18 21:35] fenhl commented on #107
+1 to everything @toqueteos said, plus using the same format in memory as over the network can save encode/decode time and allow for huge memory improvements in singleplayer if and when singleplayer protocol (#97) is implemented, since server and client would use the same memory.

[2015-12-19 00:15] RichardlL commented on #107
Makes sense!

[2015-12-19 00:15] #107 closed

[2015-12-19 00:33] toqueteos commented on #107
@RichardlL No need to close this buddy, you can just leave it for future discussions.

[2015-12-19 00:41] toqueteos commented on #97
@fenhl Do you mind editing the issue with a ToDo list of things we want to support?

[2015-12-19 00:47] toqueteos commented on #26
@RichardlL I actually don't remember! There's no mentions about that on http://wiki.vg/Protocol#Update_Health so maybe it's a typo or some missunderstanding from my side.

[2015-12-19 00:50] fenhl commented on #97
I don't have any detailed plans on how to implement this. Suggestions welcome.

[2015-12-19 00:52] fenhl commented on #107
If any further discussion happens later, we can reopen the issue then. We should have a tracking issue for migrating to the 1.9 chunk format though.

[2015-12-19 00:53] fenhl opened #108 "Use the 1.9 chunk packet format internally"
As discussed in #107, this will make stuff easier once Minecraft 1.9 releases.

[2015-12-19 01:03] toqueteos commented on #97
Let's see... Our shopping list, order somewhat relevant, should have:
1. **Login (online-mode=false)**. Done in #40! :tada:
2. **Implement concept of world.** Dimensions ticking in sync! Example: http://is.gd/oGH1Yr (this is example code, a real version wouldn't clone every world on every tick ofc)
3. **Keep track of entity positions.** Just the player's position with some simple checks (moving to

[2015-12-19 03:00] RichardlL commented on #97
We could use a plan for world ownership.

We could possibly spawn a thread for each core deviding it up between threads.

As in #100, but this might be a simpler way to implement it.

The master would manage a Hash-map/index of chunks, which corresponds to transmitters.

All player threads would have access to the hash-map through a read lock. For unloaded chunks, the players would send the reques

[2015-12-19 03:20] RichardlL commented on #26
I propose we implement this using channels and a sleep thread.

Instead of having timed things updated on a tick loop, we could manage it with another thread held by a channel.

The timeout of the channel will be set to whatever the next event to happens, for example, plant growth.

If it receives a new event, it checks it for a timeout shorter than the the current soonest event. If it is, use tha

[2015-12-19 17:59] fenhl commented on #97
@toqueteos those are all out of scope for this issue. I'm simply trying to add an API to the protocol which uses shared memory instead of TCP.

[2015-12-19 23:13] toqueteos commented on #108
Is this intended for 1.8.9 too? If so, add it to milestone.

[2015-12-19 23:24] fenhl commented on #108
It's not a feature we need for Minecraft 1.8.9 support, but of course if we already want to implement it we can do that.

[2015-12-19 23:29] fenhl commented on #100
Also can we please use the term worker thread (or connection thread for those communicating with clients) instead of slave?

[2015-12-20 01:06] toqueteos opened #109 "Basic functionality roadmap"
If you want to contribute to hematite_server this roadmap might help you! Order is relevant.

- [x] **Login (online-mode=false)**. Done in #40! :tada:
- [ ] **Implement concept of world.** Dimensions ticking in sync! Example: http://is.gd/oGH1Yr (this is example code, a real version wouldn't clone every world on every tick ofc)
- [ ] **Keep track of entity positions.** Just the player's position w

[2015-12-20 01:07] toqueteos commented on #97
Woops, seems like I totally missunderstood this issue. I've opened #109 so we can track functionality and future contributors can help on our next steps.

[2015-12-20 01:14] RichardlL commented on #109
I suggest adding/agreeing upon an 'api' to allow concurrent development.

Such as defining what arguments the chunk-loader will take, what it's responsibilities are, and what it returns.

Also so no needs to wait for another to be implemented

[2015-12-20 01:21] toqueteos commented on #109
@RichardlL There a ton of components to be defined, being so few people actually developing I think the best workflow is submitting proposals (pseudocode or working code), discussing them until quorum is met and merging. Otherwise we'll waste too much time.

Regarding the chunk loader feel free to send in your proposal for review!

/cc @fenhl

[2015-12-20 01:55] RichardlL commented on #109
I'd like to get started on world management.

I would like to implement it based on my proposal in #97, henceforth named Allocater / Worker as requested by @fenhl #100,

So implement
- 1.9 world format
-  Requests based on channels, while abstracted by regular functions for ease of use
- public function `chunk_send()`
- Internally, Possibly Incorporating hematite base's chunk loader

public funtio

[2015-12-23 16:53] RichardlL commented on #109
@toqueteos Bump

[2016-01-05 16:54] s1gtrap commented on #30
Are you still working on this @toqueteos? I've been toying with openssl for this (despite it not being super thread friendly), and I have it working alright.

[2016-01-06 00:23] toqueteos commented on #30
@bheart Sorry for the delay. No I'm not working on this, feel free to send in a PR for it! :+1:

[2016-01-22 09:30] fenhl opened #113 "1.9 changes to EntitySelector's gamemode field"
In 1.9 (implemented in Notchian as of [16w02a](http://minecraft.gamepedia.com/16w02a)), entity selectors will support negation of the gamemode argument, e.g. `@a[m=!3]` to select everyone except spectators. The syntax will also change to allow things like `@p[m=c]` or `@p[m=creative]` to select the nearest player in Creative mode, where previously only `@p[m=1]` was allowed. To implement this we n

[2016-01-26 22:59] JamesLaverack commented on #109
Hello, I'm interested in getting invovled! On this list what isn't being tackled by anyone yet?

[2016-01-26 23:24] toqueteos commented on #109
@JamesLaverack I think everything is free but the first two and chat. /cc @fenhl

[2016-01-27 00:51] fenhl commented on #109
I'm not currently working on or tracking anything on this list.

[2016-01-27 23:00] JamesLaverack commented on #109
@toqueteos Who's working on chat? Is there a branch for it somewhere?

[2016-01-28 13:54] toqueteos commented on #109
@JamesLaverack https://github.com/PistonDevelopers/hematite_server/pull/106 contains some changes to the Chat type. There's also some related issues opened. Knowing that you can also work on Chat without problems.

[2016-03-13 02:23] mattico opened #114 "Consider licensing issues"
This wasn't an issue when hematite was a tech demo for the piston engine, but since it seems like there's some momentum behind making a real Minecraft implementation (which is awesome btw :+1:) this probably needs to be discussed. Also: I am not a lawyer, this is not legal advice.

If this project ever becomes successful it might be targeted by Mojang/_Microsoft_, and if they can find any evidence

[2016-03-14 15:18] bvssvni commented on #114
Thanks for bringing this up! The clean room implementation sounds nice.

I think such cases should be treated carefully and professionally. The only thing that matters is to **provide the evidence beyond reasonable doubt**. As long a company does this, they will be helped and get high priority to get their legal issue resolved.

If Mojang/Microsoft or any other company think there will be even a s

[2017-01-14 01:49] PaulBGD commented on #114
I don't think this is an issue: see glowstone, which has been around for 6+ years https://github.com/GlowstoneMC/Glowstone

[2017-01-17 12:10] roblabla commented on #114
So long as this was done without looking at the minecraft source code, it's ok. This is what wiki.vg and other similar sources are for. So long as you use those "indirect" resources, you're fine.

[2017-04-01 05:11] bvssvni opened #118 "Regression in asynchronous"
See https://github.com/rust-lang/rust/issues/40953#issuecomment-290772272

[2019-02-07 16:19] bvssvni opened #122 "Update dependencies"
[code]